<form action="/auth/facebook" method="post">
<input type="submit" value="Register with Facebook"/>
</form>
<form action="/auth/twitter" method="post">
<input type="submit" value="Register with Twitter"/>
</form>
<form action="/auth/github" method="post">
<input type="submit" value="Register with Github"/>
</form>
